In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 14.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8f0190dc3fec3691ab5db64de1f18708e0b07c4eeaefd31b91aa0d4adcffd730
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pandas as pd
import numpy as np
# Load functionality to manipulate dataframes
from pyspark.sql import functions as fn
import matplotlib.pyplot as plt
from pyspark.sql.functions import stddev, mean, col
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
# Functionality for computing features
from pyspark.ml import feature, regression, classification, Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import feature, regression, classification, Pipeline
from pyspark.ml.feature import Tokenizer, VectorAssembler, HashingTF, Word2Vec, StringIndexer, OneHotEncoder
from pyspark.ml import clustering
from itertools import chain
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.ml import classification
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier, DecisionTreeClassifier
from pyspark.ml import evaluation
from pyspark.ml.evaluation import BinaryClassificationEvaluator,MulticlassClassificationEvaluator
from pyspark import keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param
#Classification Report
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
MAX_MEMORY = "45g"

spark = SparkSession \
    .builder \
    .appName("how to read csv file") \
    .config("spark.executor.memory", MAX_MEMORY) \
    .config("spark.driver.memory", MAX_MEMORY) \
    .getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# load master dataset
dfmaster = spark.read.format("csv").load("/content/drive/MyDrive/Data/master.csv", delimiter = ",", header = True)

#Data Preparation

In [ ]:
# create a 0/1 column for acquistions
dfmaster = dfmaster.\
  withColumn("labelacq", fn.when(col("status") == "acquired","1").otherwise("0"))

In [ ]:
# number of rows in master table
print(dfmaster.count())

49445

In [ ]:
dfmaster

DataFrame[_c0: string, permalink: string, name: string, market: string, funding_total_usd: string, status: string, country_code: string, city: string, funding_rounds: string, founded_year: string, quarter_new: string, age: string, permalink_agg: string, count_investor: string, time_to_first_funding: string, investor_country_codes: string, funding_round_types: string, total_raised_usd: string, permalink_sub: string, category_final: string, perma: string, investor_country_code: string, permaround: string, funding_round_type: string, labelacq: string]

In [ ]:
# check for missing values 
dfmaster.toPandas().isnull().sum()

_c0                           0
permalink                     1
name                          1
market                     3967
funding_total_usd             1
status                     1315
country_code               5273
city                       6116
funding_rounds                1
founded_year              10956
quarter_new               10956
age                       10956
permalink_agg                 1
count_investor                1
time_to_first_funding     24731
investor_country_codes    20954
funding_round_types       17110
total_raised_usd          49435
permalink_sub                 1
category_final            45459
perma                     20954
investor_country_code     20954
permaround                17110
funding_round_type        17110
labelacq                      0
dtype: int64

In [ ]:
# drop market columns because of too many level and better breakdown with the category_final column
dfmaster1 = dfmaster.drop("market")

In [ ]:
dfmaster1 = dfmaster1.toPandas()
dfmaster1

,_c0,permalink,name,funding_total_usd,status,country_code,city,funding_rounds,founded_year,quarter_new,...,investor_country_codes,funding_round_types,total_raised_usd,permalink_sub,category_final,perma,investor_country_code,permaround,funding_round_type,labelacq
0,0,/organization/1lay,1Lay,"1,70,000",operating,None,None,1,2013,Q3,...,None,None,None,/organization/1lay,None,None,None,None,None,0
1,1,/organization/24pagebooks,24PageBooks,"50,000",closed,USA,Rochester,1,2010,Q1,...,FRA,seed,None,/organization/24pagebooks,None,/organization/24pagebooks,FRA,/organization/24pagebooks,seed,0
2,2,/organization/5min,5min Media,"1,28,00,000",acquired,USA,New York,3,2007,Q1,...,"USA, USA, USA","venture, venture, venture",None,/organization/5min,None,/organization/5min,USA,/organization/5min,venture,1
3,3,/organization/abpathfinder,ABPathfinder,"9,60,000",operating,USA,Overland Park,3,2010,Q2,...,"USA, USA, USA","venture, venture, venture, venture",None,/organization/abpathfinder,None,/organization/abpathfinder,USA,/organization/abpathfinder,venture,0
4,4,/organization/acid-labs,Acid Labs,-,operating,USA,Santa Monica,1,2003,Q1,...,None,None,None,/organization/acid-labs,None,None,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49440,49440,/organization/yieldmo,Yieldmo,"2,21,00,000",operating,USA,New York,3,2012,Q2,...,"USA, USA, USA, USA, USA, ISR, USA, USA, USA, U...","venture, venture, venture, venture, venture, v...",None,/organization/yieldmo,None,/organization/yieldmo,USA,/organization/yieldmo,venture,0
49441,49441,/organization/youxinpai,Youxinpai,"3,00,00,000",operating,CHN,Beijing,1,2011,Q3,...,"CHN, USA, CHN","venture, venture, venture, venture",None,/organization/youxinpai,None,/organization/youxinpai,CHN,/organization/youxinpai,venture,0
49442,49442,/organization/zeropercent-us,ZeroPercent.us,-,operating,USA,Chicago,1,2011,Q3,...,USA,seed,None,/organization/zeropercent-us,None,/organization/zeropercent-us,USA,/organization/zeropercent-us,seed,0
49443,49443,/organization/zinch,Zinch,"54,86,842",acquired,USA,Orem,3,2007,Q1,...,"USA, USA","venture, venture, angel",None,/organization/zinch,None,/organization/zinch,USA,/organization/zinch,venture,1
49444,49444,/organization/zippy-com-au-pty-ltd,Zippy.com.au Pty LTD,"2,00,000",acquired,AUS,Brisbane,1,None,None,...,None,None,None,/organization/zippy-com-au-pty-ltd,None,None,None,None,None,1

In [ ]:
# Replace NaN with mode for categorical variables
dfmaster1['total_raised_usd'] = dfmaster1['total_raised_usd'].fillna(dfmaster1['total_raised_usd'].mode()[0])
dfmaster1['time_to_first_funding'] = dfmaster1['time_to_first_funding'].fillna(dfmaster1['time_to_first_funding'].mode()[0])
dfmaster1['founded_year'] = dfmaster1['founded_year'].fillna(dfmaster1['founded_year'].mode()[0])
dfmaster1['age'] = dfmaster1['age'].fillna(dfmaster1['age'].mode()[0])
dfmaster1['status'] = dfmaster1['status'].fillna(dfmaster1['status'].mode()[0])
dfmaster1['country_code'] = dfmaster1['country_code'].fillna(dfmaster1['country_code'].mode()[0])
dfmaster1['city'] = dfmaster1['city'].fillna(dfmaster1['city'].mode()[0])
dfmaster1['quarter_new'] = dfmaster1['quarter_new'].fillna(dfmaster1['quarter_new'].mode()[0])
dfmaster1['investor_country_codes'] = dfmaster1['investor_country_codes'].fillna(dfmaster1['investor_country_codes'].mode()[0])
dfmaster1['funding_round_types'] = dfmaster1['funding_round_types'].fillna(dfmaster1['funding_round_types'].mode()[0])
dfmaster1['permaround'] = dfmaster1['permaround'].fillna(dfmaster1['permaround'].mode()[0])
dfmaster1['investor_country_code'] = dfmaster1['investor_country_code'].fillna(dfmaster1['investor_country_code'].mode()[0])
dfmaster1['funding_round_type'] = dfmaster1['funding_round_type'].fillna(dfmaster1['funding_round_type'].mode()[0])
dfmaster1['category_final'] = dfmaster1['category_final'].fillna(dfmaster1['category_final'].mode()[0])
dfmaster1['perma'] = dfmaster1['perma'].fillna(dfmaster1['perma'].mode()[0])

In [ ]:
# check for missing values 
dfmaster1.isnull().sum()

_c0                       0
permalink                 1
name                      1
funding_total_usd         1
status                    0
country_code              0
city                      0
funding_rounds            1
founded_year              0
quarter_new               0
age                       0
permalink_agg             1
count_investor            1
time_to_first_funding     0
investor_country_codes    0
funding_round_types       0
total_raised_usd          0
permalink_sub             1
category_final            0
perma                     0
investor_country_code     0
permaround                0
funding_round_type        0
labelacq                  0
dtype: int64

In [ ]:
# drop rows with missing values
dfmaster1drop = dfmaster1.dropna()

In [ ]:
print(dfmaster1drop.count())

_c0                       49444
permalink                 49444
name                      49444
funding_total_usd         49444
status                    49444
country_code              49444
city                      49444
funding_rounds            49444
founded_year              49444
quarter_new               49444
age                       49444
permalink_agg             49444
count_investor            49444
time_to_first_funding     49444
investor_country_codes    49444
funding_round_types       49444
total_raised_usd          49444
permalink_sub             49444
category_final            49444
perma                     49444
investor_country_code     49444
permaround                49444
funding_round_type        49444
labelacq                  49444
dtype: int64

In [ ]:
sql = SQLContext(spark)

/usr/local/lib/python3.8/dist-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
dfmaster2 = sql.createDataFrame(dfmaster1drop)

In [ ]:
display(dfmaster2)

DataFrame[_c0: string, permalink: string, name: string, funding_total_usd: string, status: string, country_code: string, city: string, funding_rounds: string, founded_year: string, quarter_new: string, age: string, permalink_agg: string, count_investor: string, time_to_first_funding: string, investor_country_codes: string, funding_round_types: string, total_raised_usd: string, permalink_sub: string, category_final: string, perma: string, investor_country_code: string, permaround: string, funding_round_type: string, labelacq: string]

String indexer, one hot encoder and casting to numerics

In [ ]:
# create index for categorical variables
# use pipline to apply indexer
list1 = ["country_code","city","quarter_new","investor_country_code","funding_round_type","category_final"]
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(dfmaster2) for column in list1]
pipelineindex = Pipeline(stages=indexers).fit(dfmaster2)
dfmasternew = pipelineindex.transform(dfmaster2)

In [ ]:
# convert string to double for numerical variables
dfmasternew = dfmasternew.\
  withColumn("numeric_funding_rounds", dfmasternew["funding_rounds"].cast("int")).\
  withColumn("numeric_age", dfmasternew["age"].cast("int")).\
  withColumn("numeric_count_investor", dfmasternew["count_investor"].cast("int")).\
  withColumn("numeric_time_to_first_funding", dfmasternew["time_to_first_funding"].cast("int")).\
  withColumn("numeric_total_raised_usd", dfmasternew["total_raised_usd"].cast("int")).\
  withColumn("label", dfmasternew["labelacq"].cast("int"))

In [ ]:
dfmasternew = dfmasternew.\
  withColumn("funding_round_type", dfmasternew["funding_round_type"].cast("double")).\
  withColumn("country_code_index", dfmasternew["country_code_index"].cast("double")).\
  withColumn("city_index", dfmasternew["city_index"].cast("double")).\
  withColumn("quarter_new_index", dfmasternew["quarter_new_index"].cast("double")).\
  withColumn("labelacq", dfmasternew["labelacq"].cast("double"))

In [ ]:
# save
dfone = dfmasternew

In [ ]:
display(dfone)

DataFrame[_c0: string, permalink: string, name: string, funding_total_usd: string, status: string, country_code: string, city: string, funding_rounds: string, founded_year: string, quarter_new: string, age: string, permalink_agg: string, count_investor: string, time_to_first_funding: string, investor_country_codes: string, funding_round_types: string, total_raised_usd: string, permalink_sub: string, category_final: string, perma: string, investor_country_code: string, permaround: string, funding_round_type: double, labelacq: double, country_code_index: double, city_index: double, quarter_new_index: double, investor_country_code_index: double, funding_round_type_index: double, category_final_index: double, numeric_funding_rounds: int, numeric_age: int, numeric_count_investor: int, numeric_time_to_first_funding: int, numeric_total_raised_usd: int, label: int]

In [ ]:
print(dfone.count())

49444

In [ ]:
# list of index columns of categorical variables for the onehotencoder
list2 = dfone.columns[24:30]
list2

['country_code_index',
 'city_index',
 'quarter_new_index',
 'investor_country_code_index',
 'funding_round_type_index',
 'category_final_index']

In [ ]:
# create sparse matrix of indexed categorical columns
# use pipline to apply the encoder
onehotencoder_stages = [OneHotEncoder(inputCol=c, outputCol='onehotencoded_' + c) for c in list2]
pipelineonehot = Pipeline(stages=onehotencoder_stages)
pipeline_mode = pipelineonehot.fit(dfone)
df_coded = pipeline_mode.transform(dfone)

In [ ]:
df_coded.show()

+---+--------------------+--------------------+-----------------+---------+------------+-------------+--------------+------------+-----------+----+--------------------+--------------+---------------------+----------------------+--------------------+----------------+--------------------+--------------+--------------------+---------------------+--------------------+------------------+--------+------------------+----------+-----------------+---------------------------+------------------------+--------------------+----------------------+-----------+----------------------+-----------------------------+------------------------+-----+--------------------------------+------------------------+-------------------------------+-----------------------------------------+--------------------------------------+----------------------------------+
|_c0|           permalink|                name|funding_total_usd|   status|country_code|         city|funding_rounds|founded_year|quarter_new| age|       permalink_agg|count_investor|time_to_first_funding|investor_country_codes| funding_round_types|total_raised_usd|       permalink_sub|category_final|               perma|investor_country_code|          permaround|funding_round_type|labelacq|country_code_index|city_index|quarter_new_index|investor_country_code_index|funding_round_type_index|category_final_index|numeric_funding_rounds|numeric_age|numeric_count_investor|numeric_time_to_first_funding|numeric_total_raised_usd|label|onehotencoded_country_code_index|onehotencoded_city_index|onehotencoded_quarter_new_index|onehotencoded_investor_country_code_index|onehotencoded_funding_round_type_index|onehotencoded_category_final_index|
+---+--------------------+--------------------+-----------------+---------+------------+-------------+--------------+------------+-----------+----+--------------------+--------------+---------------------+----------------------+--------------------+----------------+--------------------+--------------+--------------------+---------------------+--------------------+------------------+--------+------------------+----------+-----------------+---------------------------+------------------------+--------------------+----------------------+-----------+----------------------+-----------------------------+------------------------+-----+--------------------------------+------------------------+-------------------------------+-----------------------------------------+--------------------------------------+----------------------------------+
|  0|  /organization/1lay|                1Lay|        1,70,000 |operating|         USA|San Francisco|             1|        2013|         Q3| 1.5|  /organization/1lay|           0.0|                  0.0|                   USA|                seed|           118.0|  /organization/1lay|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|       0.0|              2.0|                        0.0|                     0.0|                 0.0|                     1|          1|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|        (4187,[0],[1.0])|                  (3,[2],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  1|/organization/24p...|         24PageBooks|          50,000 |   closed|         USA|    Rochester|             1|        2010|         Q1| 5.0|/organization/24p...|           1.0|                 1.25|                   FRA|                seed|           118.0|/organization/24p...|          None|/organization/24p...|                  FRA|/organization/24p...|              null|     0.0|               0.0|     156.0|              0.0|                        2.0|                     1.0|                 0.0|                     1|          5|                     1|                            1|                     118|    0|                 (114,[0],[1.0])|      (4187,[156],[1.0])|                  (3,[0],[1.0])|                           (77,[2],[1.0])|                        (12,[1],[1.0])|                     (1,[0],[1.0])|
|  2|  /organization/5min|          5min Media|     1,28,00,000 | acquired|         USA|     New York|             3|        2007|         Q1| 8.0|  /organization/5min|           3.0|                 0.75|         USA, USA, USA|venture, venture,...|           118.0|  /organization/5min|          None|  /organization/5min|                  USA|  /organization/5min|              null|     1.0|               0.0|       1.0|              0.0|                        0.0|                     0.0|                 0.0|                     3|          8|                     3|                            0|                     118|    1|                 (114,[0],[1.0])|        (4187,[1],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  3|/organization/abp...|        ABPathfinder|        9,60,000 |operating|         USA|Overland Park|             3|        2010|         Q2|4.75|/organization/abp...|           4.0|                  2.5|         USA, USA, USA|venture, venture,...|           118.0|/organization/abp...|          None|/organization/abp...|                  USA|/organization/abp...|              null|     0.0|               0.0|     282.0|              1.0|                        0.0|                     0.0|                 0.0|                     3|          4|                     4|                            2|                     118|    0|                 (114,[0],[1.0])|      (4187,[282],[1.0])|                  (3,[1],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  4|/organization/aci...|           Acid Labs|             -   |operating|         USA| Santa Monica|             1|        2003|         Q1|12.0|/organization/aci...|           0.0|                  0.0|                   USA|                seed|           118.0|/organization/aci...|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|      26.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|         12|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|       (4187,[26],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  5|/organization/acl...|Aclaris Therapeutics|     4,20,00,000 |operating|         USA|      Malvern|             2|        2012|         Q1| 3.0|/organization/acl...|           6.0|                  0.0|  USA, USA, USA, US...|venture, venture,...|           118.0|/organization/acl...|          None|/organization/acl...|                  USA|/organization/acl...|              null|     0.0|               0.0|     217.0|              0.0|                        0.0|                     0.0|                 0.0|                     2|          3|                     6|                            0|                     118|    0|                 (114,[0],[1.0])|      (4187,[217],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  6|/organization/ada...|          Adaptivity|     2,48,45,955 | acquired|         USA|    Charlotte|             6|        2007|         Q1| 8.0|/organization/ada...|           9.0|                 3.75|  USA, USA, USA, US...|venture, venture,...|           118.0|/organization/ada...|          None|/organization/ada...|                  USA|/organization/ada...|              null|     1.0|               0.0|      92.0|              0.0|                        0.0|                     0.0|                 0.0|                     6|          8|                     9|                            3|                     118|    1|                 (114,[0],[1.0])|       (4187,[92],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  7|/organization/aer...| Aerpio Therapeutics|     6,30,00,000 |operating|         USA|   Cincinnati|             4|        2011|         Q1| 4.0|/organization/aer...|          16.0|                  1.5|  USA, USA, CHE, US...|venture, venture,...|           118.0|/organization/aer...|          None|/organization/aer...|                  USA|/organization/aer...|              null|     0.0|               0.0|      72.0|              0.0|                        0.0|                     0.0|                 0.0|                     4|          4|                    16|                            1|                     118|    0|                 (114,[0],[1.0])|       (4187,[72],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  8| /organization/aider|               Aider|          44,645 |operating|         KOR|San Francisco|             1|        2012|         Q2|2.75| /organization/aider|           2.0|                 1.25|              KOR, KOR|    venture, venture|           118.0| /organization/aider|          None| /organization/aider|                  KOR| /organization/aider|              null|     0.0|              19.0|       0.0|              1.0|                       20.0|                     0.0|                 0.0|                     1|          2|                     2|                            1|                     118|    0|                (114,[19],[1.0])|        (4187,[0],[1.0])|                  (3,[1],[1.0])|                          (77,[20],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
|  9|/organization/alt...|            Altobeam|     2,60,00,000 |operating|         CHN|      Beijing|             4|        2007|         Q2|7.75|/organization/alt...|          14.0|                 1.75|  USA, USA, USA, CH...|venture, venture,...|           118.0|/organization/alt...|          None|/organization/alt...|                  USA|/organization/alt...|              null|     0.0|               3.0|      11.0|              1.0|                        0.0|                     0.0|                 0.0|                     4|          7|                    14|                            1|                     118|    0|                 (114,[3],[1.0])|       (4187,[11],[1.0])|                  (3,[1],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 10|/organization/amt...|AMTT Digital Serv...|     1,00,00,000 |operating|         CHN|      Beijing|             1|        2008|         Q1| 7.0|/organization/amt...|           1.0|                  1.0|                   HKG|             venture|           118.0|/organization/amt...|          None|/organization/amt...|                  HKG|/organization/amt...|              null|     0.0|               3.0|      11.0|              0.0|                       14.0|                     0.0|                 0.0|                     1|          7|                     1|                            1|                     118|    0|                 (114,[3],[1.0])|       (4187,[11],[1.0])|                  (3,[0],[1.0])|                          (77,[14],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 11|/organization/ana...|       Analyte Logic|        7,00,000 |operating|         USA|       Denver|             1|        2008|         Q1| 7.0|/organization/ana...|           0.0|                  0.0|                   USA|                seed|           118.0|/organization/ana...|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|      35.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          7|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|       (4187,[35],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 12|/organization/apo...|            Aposense|     2,23,00,000 |operating|         ISR|  Petah Tiqva|             3|        1996|         Q1|19.0|/organization/apo...|          12.0|                10.75|  USA, ISR, USA, IS...|venture, venture,...|           118.0|/organization/apo...|          None|/organization/apo...|                  ISR|/organization/apo...|              null|     0.0|               7.0|     265.0|              0.0|                        8.0|                     0.0|                 0.0|                     3|         19|                    12|                           10|                     118|    0|                 (114,[7],[1.0])|      (4187,[265],[1.0])|                  (3,[0],[1.0])|                           (77,[8],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 13|/organization/arg...|             arGEN-X|     6,19,49,000 |operating|         NLD|    Rotterdam|             3|        2012|         Q1| 3.0|/organization/arg...|          18.0|                  0.0|  FRA, USA, USA, NL...|venture, venture,...|           118.0|/organization/arg...|          None|/organization/arg...|                  NLD|/organization/arg...|              null|     0.0|              13.0|     307.0|              0.0|                       19.0|                     0.0|                 0.0|                     3|          3|                    18|                            0|                     118|    0|                (114,[13],[1.0])|      (4187,[307],[1.0])|                  (3,[0],[1.0])|                          (77,[19],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 14|/organization/art...|     Articulinx Inc.|       22,00,000 |operating|         USA|    Cupertino|             1|        2007|         Q1| 8.0|/organization/art...|           1.0|                 5.75|                   USA|             venture|           118.0|/organization/art...|          None|/organization/art...|                  USA|/organization/art...|              null|     0.0|               0.0|      88.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          8|                     1|                            5|                     118|    0|                 (114,[0],[1.0])|       (4187,[88],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 15|/organization/ast...|  Aster Data Systems|     5,30,00,000 | acquired|         USA|   San Carlos|             4|        2005|         Q3| 9.5|/organization/ast...|          18.0|                 0.25|  USA, USA, USA, US...|venture, venture,...|           118.0|/organization/ast...|          None|/organization/ast...|                  USA|/organization/ast...|              null|     1.0|               0.0|     150.0|              2.0|                        0.0|                     0.0|                 0.0|                     4|          9|                    18|                            0|                     118|    1|                 (114,[0],[1.0])|      (4187,[150],[1.0])|                  (3,[2],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 16|/organization/atm...|          Atmospheir|       14,00,000 |operating|         USA|     Brooklyn|             2|        2011|         Q4|3.25|/organization/atm...|           0.0|                  0.0|                   USA|                seed|           118.0|/organization/atm...|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|      49.0|              3.0|                        0.0|                     0.0|                 0.0|                     2|          3|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|       (4187,[49],[1.0])|                      (3,[],[])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 17|/organization/att...|        Attune Foods|       50,00,000 |operating|         USA|San Francisco|             1|        2006|         Q1| 9.0|/organization/att...|           0.0|                  0.0|                   USA|                seed|           118.0|/organization/att...|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|       0.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          9|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|        (4187,[0],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|
| 18|/organization/atvenu|              atVenu|       11,00,000 |operating|         USA|    Sausalito|             1|        2012|         Q1| 3.0|/organization/atvenu|           1.0|                  2.0|                   CAN|                seed|           118.0|/organization/atvenu|          None|/organization/atvenu|                  CAN|/organization/atvenu|              null|     0.0|               0.0|     349.0|              0.0|                        6.0|                     1.0|                 0.0|                     1|          3|                     1|                            2|                     118|    0|                 (114,[0],[1.0])|      (4187,[349],[1.0])|                  (3,[0],[1.0])|                           (77,[6],[1.0])|                        (12,[1],[1.0])|                     (1,[0],[1.0])|
| 19| /organization/avast|      AVAST Software|    10,00,00,000 |operating|         CZE|       Prague|             2|        1988|         Q1|27.0| /organization/avast|           2.0|                 22.5|              GBR, USA|private_equity, p...|           118.0| /organization/avast|          None| /organization/avast|                  USA| /organization/avast|              null|     0.0|              37.0|     212.0|              0.0|                        0.0|                     4.0|                 0.0|                     2|         27|                     2|                           22|                     118|    0|                (114,[37],[1.0])|      (4187,[212],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[4],[1.0])|                     (1,[0],[1.0])|


Data split, defining vector assemblers & standard scaler and creating labellist

In [ ]:
# split dataset into training, validaiton and testing dataset
training_df, validation_df, testing_df = df_coded.randomSplit([0.6, 0.3, 0.1])

In [ ]:
training_df.columns[30:35]

['numeric_funding_rounds',
 'numeric_age',
 'numeric_count_investor',
 'numeric_time_to_first_funding',
 'numeric_total_raised_usd']

In [ ]:
training_df.columns[36:42]

['onehotencoded_country_code_index',
 'onehotencoded_city_index',
 'onehotencoded_quarter_new_index',
 'onehotencoded_investor_country_code_index',
 'onehotencoded_funding_round_type_index',
 'onehotencoded_category_final_index']

In [ ]:
# define vector assembler with the features for the modelling
vanum = VectorAssembler(). \
      setInputCols(training_df.columns[30:35]). \
      setOutputCol('features_nonstd')

In [ ]:
# define vector assembler with the features for the modelling
vacate = VectorAssembler(). \
      setInputCols(training_df.columns[36:42]). \
      setOutputCol('featurescate')

In [ ]:
va = VectorAssembler(). \
      setInputCols(['featuresnum','featurescate']). \
      setOutputCol('features')

In [ ]:
std = feature.StandardScaler(withMean=True, withStd=True).setInputCol('features_nonstd').setOutputCol('featuresnum')

In [ ]:
# suffix for investor country code because intersection with county_code of  the companies
invcc = ['{}_{}'.format(a, "investor") for a in indexers[3].labels]

In [ ]:
# define labellist by using the indexer stages for displaying the weights & loadings
labellist = training_df.columns[30:35] + indexers[0].labels + indexers[1].labels + indexers[2].labels + invcc + indexers[4].labels + indexers[5].labels

In [ ]:
# null dummy for onehotencoded_country_code_index
print("null dummy for onehotencoded_country_code_index")
print(len(indexers[0].labels))
print(indexers[0].labels)
# null dummy for onehotencoded_city_index
print("null dummy for onehotencoded_city_index")
print(indexers[1].labels)
print(len(indexers[1].labels))
# null dummy for onehotencoded_quarter_new_index
print("null dummy for onehotencoded_quarter_new_index")
print(len(indexers[2].labels))
print(indexers[2].labels)
# null dummy for onehotencoded_investor_country_code_index
print("null dummy for onehotencoded_investor_country_code_index")
print(len(invcc))
print(invcc)
# null dummy for onehotencoded_funding_round_type_index
print("null dummy for onehotencoded_funding_round_type_index")
print(len(indexers[4].labels))
print(indexers[4].labels)
# null dummy for onehotencoded_category_final_index
print("null dummy for onehotencoded_category_final_index")
print(len(indexers[5].labels))
print(indexers[5].labels)

null dummy for onehotencoded_country_code_index
115
['USA', 'GBR', 'CAN', 'CHN', 'DEU', 'FRA', 'IND', 'ISR', 'ESP', 'RUS', 'SWE', 'AUS', 'ITA', 'NLD', 'IRL', 'SGP', 'BRA', 'CHL', 'JPN', 'KOR', 'CHE', 'DNK', 'FIN', 'ARG', 'BEL', 'HKG', 'TUR', 'AUT', 'NOR', 'POL', 'MEX', 'PRT', 'BGR', 'ARE', 'NZL', 'IDN', 'ZAF', 'CZE', 'MYS', 'UKR', 'EST', 'HUN', 'TWN', 'THA', 'COL', 'PHL', 'GRC', 'LTU', 'PER', 'NGA', 'KEN', 'EGY', 'LUX', 'ROM', 'VNM', 'DZA', 'JOR', 'PAK', 'ISL', 'SVK', 'LBN', 'CYP', 'LVA', 'URY', 'CYM', 'GHA', 'SVN', 'KHM', 'SRB', 'UGA', 'HRV', 'BGD', 'SAU', 'TZA', 'CRI', 'PAN', 'BMU', 'BWA', 'GTM', 'AZE', 'BHR', 'BLR', 'DOM', 'MAR', 'MLT', 'SLV', 'TUN', 'ARM', 'BHS', 'CMR', 'ECU', 'GIB', 'KWT', 'LAO', 'MDA', 'MKD', 'MMR', 'NIC', 'NPL', 'ALB', 'BRN', 'CIV', 'JAM', 'JEY', 'LIE', 'MAF', 'MCO', 'MOZ', 'MUS', 'OMN', 'SOM', 'SYC', 'TTO', 'UZB', 'ZWE']
null dummy for onehotencoded_city_index

# Modeling

## DECISION TREE

In [ ]:
# define multiclass classification evaluator
mce = MulticlassClassificationEvaluator()

In [ ]:
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")

In [ ]:
dt_pipeline = Pipeline(stages=[vanum, std, vacate, va, dt]).fit(training_df)

In [ ]:
dfdt = dt_pipeline.transform(validation_df)

In [ ]:
# print the areas under the curve for the different random forest pipelines
print("Decision Tree: AUC = {}".format(mce.evaluate(dfdt)))

Decision Tree: AUC = 0.8889313652753997

In [ ]:
# print the accuracies for the different random forest pipelines
print(dfdt.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Decision Tree")).show())

+--------------------------+
|Accuracy for Decision Tree|
+--------------------------+
|        0.9247161919936268|
+--------------------------+

None

## RANDOM FOREST

In [ ]:
# define binary classification evaluator
bce = BinaryClassificationEvaluator()

In [ ]:
# define default, 15 trees and 25 trees random forest classifier
rf = RandomForestClassifier(maxBins=10000, featuresCol='features', labelCol='label')
rf15 = RandomForestClassifier(numTrees=15, maxBins=10000, featuresCol='features', labelCol='label')
rf25 = RandomForestClassifier(numTrees=25, maxBins=10000, featuresCol='features', labelCol='label')

In [ ]:
# define and fit pipelines with vector assembler and random forest classifier 
rf_pipeline = Pipeline(stages=[vanum, std, vacate, va, rf]).fit(training_df)
rf_pipeline_15 = Pipeline(stages=[vanum, std, vacate, va, rf15]).fit(training_df)
rf_pipeline_25 = Pipeline(stages=[vanum, std, vacate, va, rf25]).fit(training_df)

In [ ]:
dfrf = rf_pipeline.transform(validation_df)
dfrf_15 = rf_pipeline_15.transform(validation_df)
dfrf_25 = rf_pipeline_25.transform(validation_df)

In [ ]:
dfrf.show()

+-----+--------------------+--------------------+-----------------+---------+------------+-------------+--------------+------------+-----------+----+--------------------+--------------+---------------------+----------------------+--------------------+----------------+--------------------+--------------+--------------------+---------------------+--------------------+------------------+--------+------------------+----------+-----------------+---------------------------+------------------------+--------------------+----------------------+-----------+----------------------+-----------------------------+------------------------+-----+--------------------------------+------------------------+-------------------------------+-----------------------------------------+--------------------------------------+----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|  _c0|           permalink|                name|funding_total_usd|   status|country_code|         city|funding_rounds|founded_year|quarter_new| age|       permalink_agg|count_investor|time_to_first_funding|investor_country_codes| funding_round_types|total_raised_usd|       permalink_sub|category_final|               perma|investor_country_code|          permaround|funding_round_type|labelacq|country_code_index|city_index|quarter_new_index|investor_country_code_index|funding_round_type_index|category_final_index|numeric_funding_rounds|numeric_age|numeric_count_investor|numeric_time_to_first_funding|numeric_total_raised_usd|label|onehotencoded_country_code_index|onehotencoded_city_index|onehotencoded_quarter_new_index|onehotencoded_investor_country_code_index|onehotencoded_funding_round_type_index|onehotencoded_category_final_index|     features_nonstd|         featuresnum|        featurescate|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+-----------------+---------+------------+-------------+--------------+------------+-----------+----+--------------------+--------------+---------------------+----------------------+--------------------+----------------+--------------------+--------------+--------------------+---------------------+--------------------+------------------+--------+------------------+----------+-----------------+---------------------------+------------------------+--------------------+----------------------+-----------+----------------------+-----------------------------+------------------------+-----+--------------------------------+------------------------+-------------------------------+-----------------------------------------+--------------------------------------+----------------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|    0|  /organization/1lay|                1Lay|        1,70,000 |operating|         USA|San Francisco|             1|        2013|         Q3| 1.5|  /organization/1lay|           0.0|                  0.0|                   USA|                seed|           118.0|  /organization/1lay|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|       0.0|              2.0|                        0.0|                     0.0|                 0.0|                     1|          1|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|        (4187,[0],[1.0])|                  (3,[2],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,1.0,0.0,0.0,...|[-0.5396220160836...|(4394,[0,114,4303...|(4399,[0,1,2,3,4,...|[18.5717233220438...|[0.92858616610219...|       0.0|
|10005|/organization/onlive|              OnLive|     5,65,00,000 |operating|         USA|    Palo Alto|             3|        2002|         Q1|13.0|/organization/onlive|           8.0|                 5.75|  USA, USA, USA, US...|venture, venture,...|           118.0|/organization/onlive|          None|/organization/onlive|                  USA|/organization/onlive|              null|     0.0|               0.0|       3.0|              0.0|                        0.0|                     0.0|                 0.0|                     3|         13|                     8|                            5|                     118|    0|                 (114,[0],[1.0])|        (4187,[3],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[3.0,13.0,8.0,5.0...|[1.00673634212017...|(4394,[0,117,4301...|(4399,[0,1,2,3,4,...|[18.2535872660067...|[0.91267936330033...|       0.0|
|10013|/organization/par...|            ParkWhiz|     1,20,00,000 |operating|         USA|      Chicago|             2|        2007|         Q3| 7.5|/organization/par...|          14.0|                 5.25|  USA, USA, USA, US...|venture, venture,...|           118.0|/organization/par...|          None|/organization/par...|                  USA|/organization/par...|              null|     0.0|               0.0|       7.0|              2.0|                        0.0|                     0.0|                 0.0|                     2|          7|                    14|                            5|                     118|    0|                 (114,[0],[1.0])|        (4187,[7],[1.0])|                  (3,[2],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[2.0,7.0,14.0,5.0...|[0.23355716301826...|(4394,[0,121,4303...|(4399,[0,1,2,3,4,...|[18.3929487999281...|[0.91964743999640...|       0.0|
|10021|/organization/pos...|PostSharp Technol...|             -   |operating|         CZE|       Prague|             1|        2010|         Q3| 4.5|/organization/pos...|           1.0|                 -1.0|                   USA|               angel|           118.0|/organization/pos...|          None| /organization/prysm|                  USA|/organization/pos...|              null|     0.0|              37.0|     212.0|              2.0|                        0.0|                     3.0|                 0.0|                     1|          4|                     1|                           -1|                     118|    0|                (114,[37],[1.0])|      (4187,[212],[1.0])|                  (3,[2],[1.0])|                           (77,[0],[1.0])|                        (12,[3],[1.0])|                     (1,[0],[1.0])|[1.0,4.0,1.0,-1.0...|[-0.5396220160836...|(4394,[37,326,430...|(4399,[0,1,2,3,4,...|[18.6351540290787...|[0.93175770145393...|       0.0|
| 1003|/organization/vit...|             Vitrina|        5,00,000 |operating|         USA|San Francisco|             1|        2012|         Q1| 3.0|/organization/vit...|           1.0|                  0.0|                   USA|               angel|           118.0|/organization/vit...|          None| /organization/prysm|                  USA|/organization/vit...|              null|     0.0|               0.0|       0.0|              0.0|                        0.0|                     3.0|                 0.0|                     1|          3|                     1|                            0|                     118|    0|                 (114,[0],[1.0])|        (4187,[0],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[3],[1.0])|                     (1,[0],[1.0])|[1.0,3.0,1.0,0.0,...|[-0.5396220160836...|(4394,[0,114,4301...|(4399,[0,1,2,3,4,...|[18.5850911405596...|[0.92925455702798...|       0.0|
|10034|/organization/sap...|           Sapato.ru|     2,00,00,000 | acquired|         RUS|       Moscow|             3|        2010|         Q2|4.75|/organization/sap...|           6.0|                -0.25|  SWE, USA, USA, GB...|venture, venture,...|           118.0|/organization/sap...|          None|/organization/sap...|                  USA|/organization/sap...|              null|     1.0|               9.0|      22.0|              1.0|                        0.0|                     0.0|                 0.0|                     3|          4|                     6|                            0|                     118|    1|                 (114,[9],[1.0])|       (4187,[22],[1.0])|                  (3,[1],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[3.0,4.0,6.0,0.0,...|[1.00673634212017...|(4394,[9,136,4302...|(4399,[0,1,2,3,4,...|[18.5281416634055...|[0.92640708317027...|       0.0|
|10036|/organization/sca...|         ScalingData|       44,00,000 |operating|         USA|San Francisco|             1|        2014|         Q1| 1.0|/organization/sca...|           3.0|                 0.25|              USA, USA|venture, venture,...|           118.0|/organization/sca...|          None|/organization/sca...|                  USA|/organization/sca...|              null|     0.0|               0.0|       0.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          1|                     3|                            0|                     118|    0|                 (114,[0],[1.0])|        (4187,[0],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,1.0,3.0,0.0,...|[-0.5396220160836...|(4394,[0,114,4301...|(4399,[0,1,2,3,4,...|[18.5372622351427...|[0.92686311175713...|       0.0|
|10044|/organization/sma...|     SmartPay Jieyin|     1,00,00,000 |operating|         CHN|     Shanghai|             2|        2001|         Q1|14.0|/organization/sma...|           4.0|                  4.5|    USA, CHN, THA, USA|venture, venture,...|           118.0|/organization/sma...|          None|/organization/sma...|                  USA|/organization/sma...|              null|     0.0|               3.0|      27.0|              0.0|                        0.0|                     0.0|                 0.0|                     2|         14|                     4|                            4|                     118|    0|                 (114,[3],[1.0])|       (4187,[27],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[2.0,14.0,4.0,4.0...|[0.23355716301826...|(4394,[3,141,4301...|(4399,[0,1,2,3,4,...|[18.4623134586268...|[0.92311567293134...|       0.0|
|10045|/organization/sma...|            Smartzer|        4,00,000 |operating|         GBR|       London|             1|        2012|         Q1| 3.0|/organization/sma...|          14.0|                 2.75|                   GBR|angel, angel, ang...|           118.0|/organization/sma...|          None|/organization/sma...|                  GBR|/organization/sma...|              null|     0.0|               1.0|       2.0|              0.0|                        1.0|                     3.0|                 0.0|                     1|          3|                    14|                            2|                     118|    0|                 (114,[1],[1.0])|        (4187,[2],[1.0])|                  (3,[0],[1.0])|                           (77,[1],[1.0])|                        (12,[3],[1.0])|                     (1,[0],[1.0])|[1.0,3.0,14.0,2.0...|[-0.5396220160836...|(4394,[1,116,4301...|(4399,[0,1,2,3,4,...|[18.5722556202327...|[0.92861278101163...|       0.0|
|10046|/organization/sna...|         Snacksquare|          30,000 |   closed|         USA|       Goleta|             1|        2010|         Q1| 5.0|/organization/sna...|           0.0|                  0.0|                   USA|                seed|           118.0|/organization/sna...|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               0.0|     401.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          5|                     0|                            0|                     118|    0|                 (114,[0],[1.0])|      (4187,[401],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,5.0,0.0,0.0,...|[-0.5396220160836...|(4394,[0,515,4301...|(4399,[0,1,2,3,4,...|[18.5372622351427...|[0.92686311175713...|       0.0|
|10048|/organization/sof...|           Softfront|       49,00,000 |operating|         JPN|San Francisco|             1|        2012|         Q1| 3.0|/organization/sof...|           1.0|                  0.0|                   USA|             venture|           118.0|/organization/sof...|          None| /organization/prysm|                  USA|/organization/sof...|              null|     0.0|              18.0|       0.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|          3|                     1|                            0|                     118|    0|                (114,[18],[1.0])|        (4187,[0],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,3.0,1.0,0.0,...|[-0.5396220160836...|(4394,[18,114,430...|(4399,[0,1,2,3,4,...|[18.5793524031506...|[0.92896762015753...|       0.0|
| 1005|  /organization/wafu|                WAFU|       15,42,000 |operating|         CAN|     Montr�al|             2|        2012|         Q1| 3.0|  /organization/wafu|           0.0|                  0.0|                   USA|                seed|           118.0|  /organization/wafu|          None| /organization/prysm|                  USA| /organization/prysm|              null|     0.0|               2.0|      48.0|              0.0|                        0.0|                     0.0|                 0.0|                     2|          3|                     0|                            0|                     118|    0|                 (114,[2],[1.0])|       (4187,[48],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[2.0,3.0,0.0,0.0,...|[0.23355716301826...|(4394,[2,162,4301...|(4399,[0,1,2,3,4,...|[18.5281416634055...|[0.92640708317027...|       0.0|
|10057|/organization/sun...|Sunverge Energy, Inc|     1,50,00,000 |operating|         USA|     Stockton|             1|        2010|         Q1| 5.0|/organization/sun...|           3.0|                 4.25|                   DEU|venture, venture,...|           118.0|/organization/sun...|          None|/organization/sun...|                  DEU|/organization/sun...|              null|     0.0|               0.0|     925.0|              0.0|                        4.0|                     0.0|                 0.0|                     1|          5|                     3|                            4|                     118|    0|                 (114,[0],[1.0])|      (4187,[925],[1.0])|                  (3,[0],[1.0])|                           (77,[4],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,5.0,3.0,4.0,...|[-0.5396220160836...|(4394,[0,1039,430...|(4399,[0,1,2,3,4,...|[18.4096984527722...|[0.92048492263861...|       0.0|
| 1006|/organization/wea...|             Weatlas|        6,25,000 |operating|         RUS|       Moscow|             2|        2011|         Q4|3.25|/organization/wea...|           1.0|                  2.0|                   USA|          seed, seed|           118.0|/organization/wea...|          None| /organization/prysm|                  USA|/organization/wea...|              null|     0.0|               9.0|      22.0|              3.0|                        0.0|                     1.0|                 0.0|                     2|          3|                     1|                            2|                     118|    0|                 (114,[9],[1.0])|       (4187,[22],[1.0])|                      (3,[],[])|                           (77,[0],[1.0])|                        (12,[1],[1.0])|                     (1,[0],[1.0])|[2.0,3.0,1.0,2.0,...|[0.23355716301826...|(4394,[9,136,4304...|(4399,[0,1,2,3,4,...|[18.5642514482057...|[0.92821257241028...|       0.0|
|10062|/organization/syn...|           SynapCell|       44,30,000 |operating|         FRA|     Grenoble|             1|        2005|         Q2|9.75|/organization/syn...|           4.0|                 3.75|              FRA, FRA|venture, venture,...|           118.0|/organization/syn...|          None|/organization/syn...|                  FRA|/organization/syn...|              null|     0.0|               5.0|     565.0|              1.0|                        2.0|                     0.0|                 0.0|                     1|          9|                     4|                            3|                     118|    0|                 (114,[5],[1.0])|      (4187,[565],[1.0])|                  (3,[1],[1.0])|                           (77,[2],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,9.0,4.0,3.0,...|[-0.5396220160836...|(4394,[5,679,4302...|(4399,[0,1,2,3,4,...|[18.4517886207801...|[0.92258943103900...|       0.0|
|10068|/organization/the...|      The NewsMarket|       43,00,000 |operating|         USA|     New York|             1|        2000|         Q1|15.0|/organization/the...|           4.0|                 9.75|    USA, USA, USA, USA|venture, venture,...|           118.0|/organization/the...|          None|/organization/the...|                  USA|/organization/the...|              null|     0.0|               0.0|       1.0|              0.0|                        0.0|                     0.0|                 0.0|                     1|         15|                     4|                            9|                     118|    0|                 (114,[0],[1.0])|        (4187,[1],[1.0])|                  (3,[0],[1.0])|                           (77,[0],[1.0])|                        (12,[0],[1.0])|                     (1,[0],[1.0])|[1.0,15.0,4.0,9.0...|[-0.5396220160836...|(4394,[0,115,4301...|(4399,[0,1,2,3,4,...|[18.3902651659609...|[0.91951325829804...|       0.0|
|10071|/organization/the...|          TheDigitel|             -   |operating|         USA|   Charleston|             1|        2008|         Q2|6.75|/organization/the...|           1.0|                  1.5|                   USA|                seed|           118.0|/organization/the...|          None| /organization/prysm|                  USA|/organization/the...|              null|     0.0|               0.0|     270.0|              1.0|                        0.0|                     1.0|                 0.0|                     1|          6|                     1|                            1|                     118|    0|                 (114,[0],[1.0])|      (4187,[270],[1.0])|                  (3,[1],[1.0])|                           (77,[0],[1.0])|                        (12,[1],[1.0])|                     (1,[0],[1.0])|[1.0,6.0,1.0,1.0,...|[-0.5396220160836...|(4394,[0,384,4302...|(4399,[0,1,2,3,4,...|[18.5733720199429...|[0.92866860099714...|       0.0|

## Performance

In [ ]:
# print the areas under the curve for the different random forest pipelines
print("Random Forest with 20 trees: AUC = {}".format(bce.evaluate(dfrf)))
print("Random Forest 15 trees: AUC = {}".format(bce.evaluate(dfrf_15)))
print("Random Forest 25 trees: AUC = {}".format(bce.evaluate(dfrf_25)))

Random Forest with 20 trees: AUC = 0.6704048578881618
Random Forest 15 trees: AUC = 0.7081371405125284
Random Forest 25 trees: AUC = 0.6837994917522479

In [ ]:
# print the accuracies for the different random forest pipelines
print(dfrf.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Random Forest with 20 trees")).show())
print(dfrf_15.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Random Forest with 15 trees")).show())
print(dfrf_25.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Random Forest with 25 trees")).show())

+----------------------------------------+
|Accuracy for Random Forest with 20 trees|
+----------------------------------------+
|                      0.9249817433446192|
+----------------------------------------+

None
+----------------------------------------+
|Accuracy for Random Forest with 15 trees|
+----------------------------------------+
|                      0.9249817433446192|
+----------------------------------------+

None
+----------------------------------------+
|Accuracy for Random Forest with 25 trees|
+----------------------------------------+
|                      0.9249817433446192|
+----------------------------------------+

None

## Importancies and Weights

In [ ]:
# create spark df with the 20 highest labels and the corresponding importancies + sorting by importancy
rfw = spark.createDataFrame(pd.DataFrame(list(zip(labellist, rf_pipeline.stages[4].featureImportances.toArray())),
            columns = ['column', 'importancy']).sort_values('importancy').tail(20))
display(rfw)
rfw.show()

DataFrame[column: string, importancy: double]

+--------------------+--------------------+
|              column|          importancy|
+--------------------+--------------------+
|           Blue Bell|0.015905884160977338|
|            Adelaide|0.016227370831204124|
| Newcastle Upon Tyne|0.017841583609301697|
|              London|0.020912708374023172|
|            Limerick|0.022439994687994978|
|        MEX_investor|0.022446794445075937|
|            Prospect| 0.02343734706764813|
|                 CHN|0.024097968920304323|
|          Wollongong| 0.02490325369848877|
|     West Palm Beach|0.026049973350257414|
|        KWT_investor| 0.02862139175931437|
|          Des Moines| 0.03028230975604472|
|numeric_funding_r...|0.032848588310300963|
|    Bloomfield Hills| 0.03391971890954374|
|                 USA| 0.03669846419205969|
|        MAR_investor| 0.04011345835101589|
|          Southfield| 0.04777590052850689|
|        Natchitoches|0.055555555555555566|
|         Los Angeles| 0.07275190515374169|
|numeric_time_to_f...|  0.0729800321522128|
+--------------------+--------------------+

In [ ]:
# create spark df with the labels and the corresponding importancies + sorting by importancy
rf15w = spark.createDataFrame(pd.DataFrame(list(zip(labellist, rf_pipeline_15.stages[4].featureImportances.toArray())),
            columns = ['column', 'importancy']).sort_values('importancy').tail(20))
display(rf15w)
rf15w.show()

DataFrame[column: string, importancy: double]

+--------------------+--------------------+
|              column|          importancy|
+--------------------+--------------------+
|          Bedminster|  0.0155651704194964|
|                Jena|0.016193225801187282|
|        USA_investor| 0.01755285687358526|
|          Carrollton| 0.01941443016032135|
|     Fort Washington|0.023282041475063565|
|              Yangon| 0.02333638441691831|
|             Sanford|  0.0257912812607462|
|            San Jose|0.029381420565460194|
|              Nagpur|0.031026842819954267|
|                 CHN| 0.03138271628714425|
|                  Q1|0.031953304152320575|
|        Natchitoches| 0.03334327291390294|
|              Rennes|0.033755364243386564|
|         Los Angeles|0.035740350838769336|
|numeric_time_to_f...|0.054176021048508695|
|numeric_count_inv...|0.055457496924461426|
|              London| 0.05882655811974447|
|           Weybridge| 0.06305259075919441|
|          Des Moines| 0.07142857142857142|
|        MAR_investor| 0.08330579824552768|
+--------------------+--------------------+

In [ ]:
# create spark df with the labels and the corresponding importancies + sorting by importancy
rf25w = spark.createDataFrame(pd.DataFrame(list(zip(labellist, rf_pipeline_25.stages[4].featureImportances.toArray())),
            columns = ['column', 'weight']).sort_values('weight').tail(20))
display(rf25w)
rf25w.show()

DataFrame[column: string, weight: double]

+--------------------+--------------------+
|              column|              weight|
+--------------------+--------------------+
|    Westlake Village|0.014402208566303674|
|           Guangdong|0.014493730322552066|
|          Bedminster|0.015308414120837164|
| Newcastle Upon Tyne| 0.01570869938699635|
|    Bloomfield Hills|0.016652467220931107|
|           Weybridge|0.016840288781024945|
|               Yavne|0.017263562868494498|
|           Fullerton|0.017373442321439888|
|numeric_time_to_f...| 0.01788824775559418|
|       North Andover| 0.01807185084664363|
|          Southfield|0.019693354024959094|
|            San Jose| 0.02006838440705003|
|         Glastonbury|0.025406410022921596|
|          Carrollton|0.026825793648634126|
|               Tampa|0.027795708777878132|
|              London|0.040805882660936994|
|          Ridgefield| 0.04129539779563641|
|numeric_count_inv...| 0.04248324763240757|
|               Alamo|0.057321286185158866|
|         Los Angeles| 0.07113451764027444|
+--------------------+--------------------+

# TESTING PERFORMANCE

We tested with the best performing (AUC and Accuracy) Decision Tree and Random Forest model.

In [ ]:
# Decision Tree
dfdt_test = dt_pipeline.transform(testing_df)
print("Decision Tree: AUC = {}".format(mce.evaluate(dfdt_test)))
print(dfdt_test.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Decision Tree")).show())
dt_true = dfdt_test.select(['label']).collect()
dt_pred = dfdt_test.select(['prediction']).collect()
print(classification_report(dt_true, dt_pred))

Decision Tree: AUC = 0.8842540957046967
+--------------------------+
|Accuracy for Decision Tree|
+--------------------------+
|        0.9211061407076048|
+--------------------------+

None
              precision    recall  f1-score   support

           0       0.92      1.00      0.96      4535
           1       0.00      0.00      0.00       383

    accuracy                           0.92      4918
   macro avg       0.46      0.50      0.48      4918
weighted avg       0.85      0.92      0.88      4918

In [ ]:
# Best performing random forest model
dfrf_25_test = rf_pipeline_25.transform(testing_df)
print("Random Forest 25 trees: AUC = {}".format(bce.evaluate(dfrf_25_test)))
print(dfrf_25_test.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Random Forest with 25 trees")).show())
rf_true = dfrf_25_test.select(['label']).collect()
rf_pred = dfrf_25_test.select(['prediction']).collect()
print(classification_report(rf_true, rf_pred))

Random Forest 25 trees: AUC = 0.6806307771582212
+----------------------------------------+
|Accuracy for Random Forest with 25 trees|
+----------------------------------------+
|                      0.9221228141520943|
+----------------------------------------+

None
              precision    recall  f1-score   support

           0       0.92      1.00      0.96      4535
           1       0.00      0.00      0.00       383

    accuracy                           0.92      4918
   macro avg       0.46      0.50      0.48      4918
weighted avg       0.85      0.92      0.88      4918

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#Logistic Regression

In [ ]:
# define logistic regression parameters and pipeline stages 
lambda_par1 = 0.01
alpha_par1 = 0.05
en_lr1 = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('features').\
        setRegParam(lambda_par1).\
        setElasticNetParam(alpha_par1)

# change the parameters of the second classifier below
lambda_par2 = 0.05
alpha_par2 = 0.05
en_lr2 = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('features').\
        setRegParam(lambda_par2).\
        setElasticNetParam(alpha_par2)

# change the parameters of the thrid classifier below
lambda_par3 = 0.1
alpha_par3 = 0.05
en_lr3 = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('features').\
        setRegParam(lambda_par3).\
        setElasticNetParam(alpha_par3)
        
en_lr_estimator1 = Pipeline(
    stages=[vanum, std, vacate, va, en_lr1])
en_lr_estimator2 = Pipeline(
    stages=[vanum, std, vacate, va, en_lr2])
en_lr_estimator3 = Pipeline(
    stages=[vanum, std, vacate, va, en_lr3])

In [ ]:
# fit logistic regression pipelines
en_lr_model1 = en_lr_estimator1.fit(training_df)
en_lr_model2 = en_lr_estimator2.fit(training_df)
en_lr_model3 = en_lr_estimator3.fit(training_df)

In [ ]:
# apply pipeline to validation dataset
dfmodel1 = en_lr_model1.transform(validation_df)
dfmodel2 = en_lr_model2.transform(validation_df)
dfmodel3 = en_lr_model3.transform(validation_df)

In [ ]:
# define binary classification evaluator
bce = BinaryClassificationEvaluator()

In [ ]:
# print areas under the curve of the different logistic regressions
print("Logistic Regression Model 1: AUC = {}".format(bce.evaluate(dfmodel1)))
print("Logistic Regression Model 2: AUC = {}".format(bce.evaluate(dfmodel2)))
print("Logistic Regression Model 3: AUC = {}".format(bce.evaluate(dfmodel3)))

Logistic Regression Model 1: AUC = 0.7109942398164669
Logistic Regression Model 2: AUC = 0.7283555180957673
Logistic Regression Model 3: AUC = 0.7323500456355924

In [ ]:
# print accuracies of the different logistic regressions
print(dfmodel1.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 1")).show())
print(dfmodel2.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 2")).show())
print(dfmodel3.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 3")).show())

+--------------------+
|Accuracy for Model 1|
+--------------------+
|  0.9197371041625174|
+--------------------+

None
+--------------------+
|Accuracy for Model 2|
+--------------------+
|  0.9241187014538936|
+--------------------+

None
+--------------------+
|Accuracy for Model 3|
+--------------------+
|  0.9249817433446192|
+--------------------+

None

In [ ]:
dfdislr = spark.createDataFrame(pd.DataFrame(list(zip(labellist, en_lr_model1.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight')).agg((fn.count(fn.when(col("weight") == 0, True)) / fn.count(col("label"))).alias("Ratio"))
dfdislr.show()

+------------------+
|             Ratio|
+------------------+
|0.7610820641054785|
+------------------+

#Weights

In [ ]:
# create spark df with the first 10 lowest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model1.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').head(10)

          label    weight
3485   Nordborg -3.269576
2242     Anth�e -3.040357
3325   Matthews -3.010850
1882    Logro�o -2.855047
840   Southlake -2.832794
3863    Schagen -2.719455
1885   Loughton -2.659051
3941      Sopot -2.408851
2536     Cheraw -2.354156
613       Lisle -2.268032

In [ ]:
# create spark df with the first 10 highest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model1.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').tail(10)

                 label    weight
4050      Temple Hills  5.463621
3278             Mafra  5.465486
3753            Roland  5.468296
1433            Nagpur  5.471445
2025        Ridgefield  5.592470
2179        Wollongong  5.693179
2748    Essex Junction  5.759650
633   Bloomfield Hills  5.842307
3962         Spicewood  5.966595
2610     Cottage Grove  6.529684

In [ ]:
# create spark df with the first 10 lowest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model2.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').head(10)

             label    weight
4312  USA_investor -0.265318
4392   undisclosed -0.265008
8              CHN -0.222427
4319  CHL_investor -0.179162
3325      Matthews -0.177998
4387  MAR_investor -0.170020
4316  DEU_investor -0.160062
11             IND -0.158828
4321  JPN_investor -0.138544
3485      Nordborg -0.130563

In [ ]:
# create spark df with the first 10 highest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model2.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').tail(10)

               label    weight
1433          Nagpur  2.757488
2168       Weybridge  2.763019
4020        Sylvania  2.771838
4050    Temple Hills  2.772583
3278           Mafra  2.791841
2179      Wollongong  2.814908
1626     Brecksville  2.830611
2748  Essex Junction  2.916315
2610   Cottage Grove  2.969507
1262           Aptos  3.032207

In [ ]:
# create spark df with the first lowest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model3.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').head(10)

              label    weight
4387   MAR_investor -0.112941
8               CHN -0.103347
4312   USA_investor -0.101313
11              IND -0.030580
4392    undisclosed -0.009593
4316   DEU_investor -0.007125
2916       Hailsham  0.000000
2915   Haidershofen  0.000000
2914       Hagerman  0.000000
2913  Hafnarfj�r�ur  0.000000

In [ ]:
# create spark df with the first 10 highest labels and corresponding weights
pd.DataFrame(list(zip(labellist, en_lr_model3.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight').tail(10)

               label    weight
3278           Mafra  0.530684
2179      Wollongong  0.539024
2748  Essex Junction  0.578040
1626     Brecksville  0.590771
714          Utrecht  0.606331
517       Carrollton  0.656092
543       Des Moines  0.700233
963        Darmstadt  1.161160
2168       Weybridge  1.397489
1262           Aptos  1.549943

Weights of the important features of the Random Forest model with 15 trees as reference

In [ ]:
# create spark df with all coefficients of LR model 2 (best performance in terms of AUC and accuracy combined)
dflrcoeff = spark.createDataFrame(pd.DataFrame(list(zip(labellist, en_lr_model2.stages[4].coefficients.toArray())),
            columns = ['label', 'weight']).sort_values('weight'))

In [ ]:
# list with the highest 8 importancies based on RF model with 15 trees (best performance in terms of AUC and accuracy combined)
rf15imp = ["Storage","Messaging","numeric_count_investor","USA","venture","USA_investor","numeric_age","numeric_total_raised_usd"]

In [ ]:
# display weights for the important factors from the RF model with 15 trees in order to see if its negative or positive
dfdisrf = dflrcoeff.where(col("label").isin(rf15imp)).orderBy("weight")
dfdisrf.show()

+--------------------+--------------------+
|               label|              weight|
+--------------------+--------------------+
|        USA_investor|-0.26531770618420764|
|             venture|                 0.0|
|numeric_total_rai...|                 0.0|
|         numeric_age| 0.17796237042371646|
|numeric_count_inv...| 0.22518685761219065|
|                 USA|  0.2455042371907676|
+--------------------+--------------------+

#Principal Component Analysis

In [ ]:
# define and fit a PCA model wit k = 200 as reference

pcavar = feature.PCA(k=200, inputCol='features', outputCol='pca_feat')
pca_var = Pipeline(stages=[vanum, std, vacate, va, pcavar])
pca_var_model = pca_var.fit(df_coded)
varlist = pca_var_model.stages[4].explainedVariance
npvar = np.cumsum(varlist)
pci = [pci for pci in range(1,201,1)]
dfvar = spark.createDataFrame(pd.DataFrame({"Number of PCs": pci, "Cumulative Variance Explained": npvar}))
dfvar.show()

+-------------+-----------------------------+
|Number of PCs|Cumulative Variance Explained|
+-------------+-----------------------------+
|            1|          0.22833416514833127|
|            2|           0.4245649216190356|
|            3|           0.5542144510065699|
|            4|           0.6195314423589732|
|            5|           0.6656582494370347|
|            6|            0.703573108899761|
|            7|           0.7381980723011159|
|            8|           0.7690787356392836|
|            9|           0.7875119527317764|
|           10|           0.7993796580257001|
|           11|           0.8106491495894524|
|           12|           0.8203493854932905|
|           13|           0.8291191210214209|
|           14|           0.8345718391025445|
|           15|           0.8392957595652807|
|           16|           0.8436070497972814|
|           17|           0.8477596808439594|
|           18|           0.8516652239101569|
|           19|           0.8549825054333559|
|           20|           0.8580110653400276|
+-------------+-----------------------------+
only showing top 20 rows

In [ ]:
dfvar.show(dfvar.count(), False)

+-------------+-----------------------------+
|Number of PCs|Cumulative Variance Explained|
+-------------+-----------------------------+
|1            |0.22833416514833127          |
|2            |0.4245649216190356           |
|3            |0.5542144510065699           |
|4            |0.6195314423589732           |
|5            |0.6656582494370347           |
|6            |0.703573108899761            |
|7            |0.7381980723011159           |
|8            |0.7690787356392836           |
|9            |0.7875119527317764           |
|10           |0.7993796580257001           |
|11           |0.8106491495894524           |
|12           |0.8203493854932905           |
|13           |0.8291191210214209           |
|14           |0.8345718391025445           |
|15           |0.8392957595652807           |
|16           |0.8436070497972814           |
|17           |0.8477596808439594           |
|18           |0.8516652239101569           |
|19           |0.8549825054333559           |
|20           |0.8580110653400276           |
|21           |0.8607970337760006           |
|22           |0.863361949589179            |
|23           |0.8658720748371964           |
|24           |0.8681541882595478           |
|25           |0.8702936616168109           |
|26           |0.8722772246364959           |
|27           |0.874000847472845            |
|28           |0.8756232443579945           |
|29           |0.8771730688697487           |
|30           |0.8787150587281977           |
|31           |0.8802284271594462           |
|32           |0.8817136557964124           |
|33           |0.8831462425598727           |
|34           |0.8845651307185007           |
|35           |0.8859063069843044           |
|36           |0.8872219375719348           |
|37           |0.8885068934773414           |
|38           |0.8897896083484144           |
|39           |0.891049092978374            |
|40           |0.892295524730101            |
|41           |0.893536549334144            |
|42           |0.894748025068431            |
|43           |0.8959236299514743           |
|44           |0.8970862534740984           |
|45           |0.8982263793080415           |
|46           |0.8993446703677779           |
|47           |0.9004406204646562           |
|48           |0.9014984133567907           |
|49           |0.9025146380254377           |
|50           |0.9034940541873185           |
|51           |0.9044682162526424           |
|52           |0.9054356239938345           |
|53           |0.9064003014027351           |
|54           |0.9073272040563728           |
|55           |0.9082052223016699           |
|56           |0.9090732811091475           |
|57           |0.9099183168697291           |
|58           |0.9107594155706541           |
|59           |0.9115564410460488           |
|60           |0.9123479779919754           |
|61           |0.913117737246958            |
|62           |0.9138795765931623           |
|63           |0.9145988682795222           |
|64           |0.915314217949272            |
|65           |0.9159963670964635           |
|66           |0.9166454690457283           |
|67           |0.9172759631169881           |
|68           |0.9178783052509787           |
|69           |0.9184477155577944           |
|70           |0.9190165079885618           |
|71           |0.9195660868738166           |
|72           |0.9201019205071849           |
|73           |0.9206355563476608           |
|74           |0.9211682917367116           |
|75           |0.9217000668276241           |
|76           |0.9222197003665845           |
|77           |0.922729276754438            |
|78           |0.9232325936658863           |
|79           |0.9237313402859607           |
|80           |0.9242234104335415           |
|81           |0.9247121619762929           |
|82           |0.9251999357910945           |
|83           |0.9256856516589318           |
|84           |0.9261636548328478           |
|85           |0.9266356413014022           |
|86           |0.9271016435875636           |
|87           |0.9275569933280516           |
|88           |0.9279936875345524           |
|89           |0.9284222133445174           |
|90           |0.9288432754617127           |
|91           |0.9292591852805996           |
|92           |0.929666429786314            |
|93           |0.9300673749140883           |
|94           |0.930460172289727            |
|95           |0.9308511079064594           |
|96           |0.9312338785476224           |
|97           |0.931614664194395            |
|98           |0.9319879807832481           |
|99           |0.9323542827815402           |
|100          |0.9327158475035854           |
|101          |0.9330744017959062           |
|102          |0.9334267135872731           |
|103          |0.9337739430474296           |
|104          |0.9341196429928135           |
|105          |0.9344631956912215           |
|106          |0.9348039270504006           |
|107          |0.9351428706538775           |
|108          |0.9354791308454774           |
|109          |0.9358057237768841           |
|110          |0.9361267746692277           |
|111          |0.9364473080204434           |
|112          |0.9367617749858067           |
|113          |0.9370751203770544           |
|114          |0.9373860338748231           |
|115          |0.9376927484680398           |
|116          |0.9379955042672193           |
|117          |0.9382934584649435           |
|118          |0.9385884927901451           |
|119          |0.9388696895029833           |
|120          |0.9391494481916713           |
|121          |0.9394198256926899           |
|122          |0.9396842145514633           |
|123          |0.939945073945653            |
|124          |0.9402017400841338           |
|125          |0.9404557504049306           |
|126          |0.9407032613326666           |
|127          |0.940945040622235            |
|128          |0.9411854552691042           |
|129          |0.9414228142771904           |
|130          |0.9416581095018931           |
|131          |0.9418841374307396           |
|132          |0.9421094557348998           |
|133          |0.942333339331169            |
|134          |0.9425568846827478           |
|135          |0.9427758634431781           |
|136          |0.9429900572176789           |
|137          |0.9432024107767585           |
|138          |0.9434120582385476           |
|139          |0.943621041260181            |
|140          |0.9438287001550635           |
|141          |0.9440359869832663           |
|142          |0.9442428867954861           |
|143          |0.9444486546007967           |
|144          |0.9446532355831557           |
|145          |0.9448561845097484           |
|146          |0.9450580297044678           |
|147          |0.9452591549529619           |
|148          |0.9454597773982962           |
|149          |0.9456592941808474           |
|150          |0.945858098937311            |
|151          |0.9460537207313021           |
|152          |0.9462448381625089           |
|153          |0.9464354522891488           |
|154          |0.9466246395499055           |
|155          |0.9468135082219414           |
|156          |0.9470021973844597           |
|157          |0.9471892017510327           |
|158          |0.947375722804904            |
|159          |0.947559083077299            |
|160          |0.9477405729591064           |
|161          |0.9479201351139779           |
|162          |0.948097604265604            |
|163          |0.9482724831093111           |
|164          |0.948446385481775            |
|165          |0.9486169497732904           |
|166          |0.9487872677597984           |
|167          |0.948956470388833            |
|168          |0.9491249376862565           |
|169          |0.9492927536745065           |
|170          |0.949459537264066            |
|171          |0.9496246618927686           |
|172          |0.9497895972876432           |
|173          |0.9499538436340673           |
|174          |0.9501164122694946           |
|175          |0.9502786793601865           |
|176          |0.9504399277577908           |
|177          |0.9506007182812722           |
|178          |0.9507604412845486           |
|179          |0.9509188377199733           |
|180          |0.9510761826606571           |
|181          |0.9512334236167258           |
|182          |0.9513900623440369           |
|183          |0.9515459549345483           |
|184          |0.9517013996719095           |
|185          |0.9518559540405992           |
|186          |0.9520091317589944           |
|187          |0.9521617594035483           |
|188          |0.9523133221657274           |
|189          |0.9524632213587131           |
|190          |0.9526122882747169           |
|191          |0.9527608352432807           |
|192          |0.9529084323922794           |
|193          |0.9530547786772862           |
|194          |0.9531989848812087           |
|195          |0.9533431573535749           |
|196          |0.9534872583905674           |
|197          |0.9536308253598501           |
|198          |0.9537725701134248           |
|199          |0.9539127829028679           |
|200          |0.9540520908049893           |
+-------------+-----------------------------+

**So we reach a explained variance of 90% with roughly 85 Principal Components**

In [ ]:
# define pca feature function with k = 85
pca = feature.PCA(k=85, inputCol='features', outputCol='pca_feat')

In [ ]:
# define the parameters and pipelines for the logistic regressions with PCA features
lambda_par1 = 0.01
alpha_par1 = 0.05
en_lr1_pca = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('pca_feat').\
        setRegParam(lambda_par1).\
        setElasticNetParam(alpha_par1)

# change the parameters of the second classifier below
lambda_par2 = 0.05
alpha_par2 = 0.05
en_lr2_pca = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('pca_feat').\
        setRegParam(lambda_par2).\
        setElasticNetParam(alpha_par2)

# change the parameters of the thrid classifier below
lambda_par3 = 0.1
alpha_par3 = 0.05
en_lr3_pca = LogisticRegression().\
        setLabelCol('label').\
        setFeaturesCol('pca_feat').\
        setRegParam(lambda_par3).\
        setElasticNetParam(alpha_par3)
        
en_lr_estimator1_pca = Pipeline(
    stages=[vanum, std, vacate, va, pca, en_lr1_pca])
en_lr_estimator2_pca = Pipeline(
    stages=[vanum, std, vacate, va, pca, en_lr2_pca])
en_lr_estimator3_pca = Pipeline(
    stages=[vanum, std, vacate, va, pca, en_lr3_pca])

In [ ]:
# fit the PCA logistic regression pipelines
en_lr_model1_pca = en_lr_estimator1_pca.fit(training_df)
en_lr_model2_pca = en_lr_estimator2_pca.fit(training_df)
en_lr_model3_pca = en_lr_estimator3_pca.fit(training_df)

In [ ]:
# apply the pipelines to the validation dataset
dfmodel1_pca = en_lr_model1_pca.transform(validation_df)
dfmodel2_pca = en_lr_model2_pca.transform(validation_df)
dfmodel3_pca = en_lr_model3_pca.transform(validation_df)

In [ ]:
# print the areas under the curve and accuracies of the different PCA logistic regression models
print("PC Logistic Regression Model 1: AUC = {}".format(bce.evaluate(dfmodel1_pca)))
print("PC Logistic Regression Model 2: AUC = {}".format(bce.evaluate(dfmodel2_pca)))
print("PC Logistic Regression Model 3: AUC = {}".format(bce.evaluate(dfmodel3_pca)))
#Accuracy
print(dfmodel1_pca.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 1")).show())
print(dfmodel2_pca.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 2")).show())
print(dfmodel3_pca.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for Model 3")).show())

PC Logistic Regression Model 1: AUC = 0.7250762022295071
PC Logistic Regression Model 2: AUC = 0.7352234048026305
PC Logistic Regression Model 3: AUC = 0.7376471088883656
+--------------------+
|Accuracy for Model 1|
+--------------------+
|  0.9234548230764124|
+--------------------+

None
+--------------------+
|Accuracy for Model 2|
+--------------------+
|  0.9244506406426343|
+--------------------+

None
+--------------------+
|Accuracy for Model 3|
+--------------------+
|  0.9249817433446192|
+--------------------+

None

Exploring Loadings

In [ ]:
# assign loadings of the first 3 PCs 
pc1 = en_lr_model2_pca.stages[4].pc.toArray()[:, 0].tolist()
pc2 = en_lr_model2_pca.stages[4].pc.toArray()[:, 1].tolist()
pc3 = en_lr_model2_pca.stages[4].pc.toArray()[:, 2].tolist()

In [ ]:
# create pandas df with the loadings/PCs and the corresponding labels
pc_loadings = pd.DataFrame([labellist, pc1, pc2, pc3]).T.rename(columns={0: 'label', 
                                                                          1: 'load_pc1',
                                                                          2: 'load_pc2',
                                                                          3: 'load_pc3',})

In [ ]:
# create spark df with the 5 highest and lowest loadings of the first PC
load1 = sql.createDataFrame(pd.concat((pc_loadings.sort_values('load_pc1').head(), 
           pc_loadings.sort_values('load_pc1').tail())))
display(load1)
load1.show()

DataFrame[label: string, load_pc1: double, load_pc2: double, load_pc3: double]

+--------------------+--------------------+--------------------+--------------------+
|               label|            load_pc1|            load_pc2|            load_pc3|
+--------------------+--------------------+--------------------+--------------------+
|         numeric_age| -0.6036457658329708|  -0.363973967219413|-0.00410482576020...|
|numeric_time_to_f...| -0.5859227874086506| -0.3854471979163721|-0.00605110074920...|
|numeric_funding_r...| -0.3833252853181104|  0.5940044857574776|0.005551606078036...|
|numeric_count_inv...| -0.3691400520240835|  0.6006682593786625|0.019919209280200287|
|        �sterby Havn|-0.05005800871880814|-0.03978762053326017|-0.00366214207883...|
|       post_ipo_debt|                null|                null|                null|
|product_crowdfunding|                null|                null|                null|
|    secondary_market|                null|                null|                null|
|                None|                null|                null|                null|
|            + Mobile|                null|                null|                null|
+--------------------+--------------------+--------------------+--------------------+

Here we can see the top and bottom 5 features based on the loadings that describe the first PC.

In [ ]:
# create spark df with the 5 highest and lowest loadings of the second PC
load2 = spark.createDataFrame(pd.concat((pc_loadings.sort_values('load_pc2').head(), 
           pc_loadings.sort_values('load_pc2').tail())))
display(load2)
load2.show()

DataFrame[label: string, load_pc1: double, load_pc2: double, load_pc3: double]

+--------------------+--------------------+--------------------+--------------------+
|               label|            load_pc1|            load_pc2|            load_pc3|
+--------------------+--------------------+--------------------+--------------------+
|numeric_time_to_f...| -0.5859227874086506| -0.3854471979163721|-0.00605110074920...|
|         numeric_age| -0.6036457658329708|  -0.363973967219413|-0.00410482576020...|
|        �sterby Havn|-0.05005800871880814|-0.03978762053326017|-0.00366214207883...|
|        TTO_investor|-0.00773227749263...|-0.02026095114825806|-6.63623369231980...|
|             venture|-0.01131975506444...|-0.00785273104516...|-1.69653022860796...|
|       post_ipo_debt|                null|                null|                null|
|product_crowdfunding|                null|                null|                null|
|    secondary_market|                null|                null|                null|
|                None|                null|                null|                null|
|            + Mobile|                null|                null|                null|
+--------------------+--------------------+--------------------+--------------------+

Here we can see the top and bottom 5 features based on the loadings that describe the second PC.:

In [ ]:
# create spark df with the 5 highest and lowest loadings of the third PC
load3 = spark.createDataFrame(pd.concat((pc_loadings.sort_values('load_pc3').head(), 
           pc_loadings.sort_values('load_pc3').tail())))
display(load3)
load3.show()

DataFrame[label: string, load_pc1: double, load_pc2: double, load_pc3: double]

+--------------------+--------------------+--------------------+--------------------+
|               label|            load_pc1|            load_pc2|            load_pc3|
+--------------------+--------------------+--------------------+--------------------+
|numeric_total_rai...|-0.00403050828910...|0.019498915601626966| -0.9996038865720893|
|                 GBR|8.148557208618151E-4|-0.00468550763395...|-0.00736443893001...|
|                  Q3|-0.00454103489453...|-0.00506841095817...|-0.00624778861036...|
|numeric_time_to_f...| -0.5859227874086506| -0.3854471979163721|-0.00605110074920...|
|        MAR_investor|0.055245705060509194|0.028755161060297782|-0.00523800173251...|
|       post_ipo_debt|                null|                null|                null|
|product_crowdfunding|                null|                null|                null|
|    secondary_market|                null|                null|                null|
|                None|                null|                null|                null|
|            + Mobile|                null|                null|                null|
+--------------------+--------------------+--------------------+--------------------+

Here we can see the top and bottom 5 features based on the loadings that describe the third PC.

#Testing Performance

In [ ]:
# Best performing logistic regression model with PCA
dfmodel2_pca_test = en_lr_model2_pca.transform(testing_df)
print("PC Logistic Regression Model 2: AUC = {}".format(bce.evaluate(dfmodel2_pca_test)))
print(dfmodel2_pca_test.select(fn.expr('float(label = prediction)').alias('correct')).select(fn.avg('correct').alias("Accuracy for PC-LR Model 2")).show())

PC Logistic Regression Model 2: AUC = 0.7547027615212122
+--------------------------+
|Accuracy for PC-LR Model 2|
+--------------------------+
|        0.9221228141520943|
+--------------------------+

None

In [ ]:
lr_true = dfmodel2_pca_test.select(['label']).collect()
lr_pred = dfmodel2_pca_test.select(['prediction']).collect()
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(lr_true, lr_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96      4535
           1       0.50      0.01      0.01       383

    accuracy                           0.92      4918
   macro avg       0.71      0.50      0.48      4918
weighted avg       0.89      0.92      0.89      4918

#Neural Networks

###Standard Model

In [ ]:
# define neural networks (MultilayerPerceptron) classifier
mlp = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setLayers([4399, 2]).\
    setFeaturesCol('features')

In [ ]:
# define and fit neural network pipeline 
mlp_simple_model = Pipeline(stages=[vanum, std, vacate, va, mlp]).fit(training_df)

In [ ]:
# define evaluators for accuracy and area under the curve
evaluator = MulticlassClassificationEvaluator().setMetricName("accuracy")
evaluatorauc = MulticlassClassificationEvaluator()

In [ ]:
# apply pipeline to validation dataset
dfnn = mlp_simple_model.transform(validation_df)

In [ ]:
# print accuracy and area under the curve for NN
print(evaluator.evaluate(dfnn))
print(evaluatorauc.evaluate(dfnn))

0.9170152028148443
0.8863205396481113

###Model with Hidden Layers

In [ ]:
# define neural networks (MultilayerPerceptron) classifier with hidden layers
mlp2 = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setFeaturesCol('features').\
    setLayers([4399,30,30, 2])
mlp3 = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setFeaturesCol('features').\
    setLayers([4399,10,10, 2])
mlp4 = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setFeaturesCol('features').\
    setLayers([4399,20,20, 2])
mlp5 = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setFeaturesCol('features').\
    setLayers([4399,30, 2])
mlp6 = classification.MultilayerPerceptronClassifier(seed=0).\
    setStepSize(0.2).\
    setMaxIter(200).\
    setFeaturesCol('features').\
    setLayers([4399,30,30,30, 2])

In [ ]:
# define and fit pipeline
mlp2_model = Pipeline(stages=[vanum, std, vacate, va, mlp2]).fit(training_df)
mlp3_model = Pipeline(stages=[vanum, std, vacate, va, mlp3]).fit(training_df)
mlp4_model = Pipeline(stages=[vanum, std, vacate, va, mlp4]).fit(training_df)
mlp5_model = Pipeline(stages=[vanum, std, vacate, va, mlp5]).fit(training_df)
mlp6_model = Pipeline(stages=[vanum, std, vacate, va, mlp6]).fit(training_df)

In [ ]:
# apply and fit model to validation dataset
dfnn2 = mlp2_model.transform(validation_df)
dfnn3 = mlp3_model.transform(validation_df)
dfnn4 = mlp4_model.transform(validation_df)
dfnn5 = mlp5_model.transform(validation_df)
dfnn6 = mlp6_model.transform(validation_df)

###Performance

In [ ]:
# print accuracy and area under the curve
print("NN Model with 2 hidden layers and 30 neurons each: Accuracy = {}".format(evaluator.evaluate(dfnn2)))
print("NN Model with 2 hidden layers and 30 neurons each: AUC = {}".format(evaluatorauc.evaluate(dfnn2)))
print("____________________________________________________________________________")
print("NN Model with 2 hidden layers and 10 neurons each: Accuracy = {}".format(evaluator.evaluate(dfnn3)))
print("NN Model with 2 hidden layers and 10 neurons each: AUC = {}".format(evaluatorauc.evaluate(dfnn3)))
print("____________________________________________________________________________")
print("NN Model with 2 hidden layers and 20 neurons each: Accuracy = {}".format(evaluator.evaluate(dfnn4)))
print("NN Model with 2 hidden layers and 20 neurons each: AUC = {}".format(evaluatorauc.evaluate(dfnn4)))
print("____________________________________________________________________________")
print("NN Model with 1 hidden layer and 30 neurons: Accuracy = {}".format(evaluator.evaluate(dfnn5)))
print("NN Model with 1 hidden layer and 30 neurons: AUC = {}".format(evaluatorauc.evaluate(dfnn5)))
print("____________________________________________________________________________")
print("NN Model with 3 hidden layers and 30 neurons each: Accuracy = {}".format(evaluator.evaluate(dfnn6)))
print("NN Model with 3 hidden layers and 30 neurons each: AUC = {}".format(evaluatorauc.evaluate(dfnn6)))

NN Model with 2 hidden layers and 30 neurons each: Accuracy = 0.9180110203810662
NN Model with 2 hidden layers and 30 neurons each: AUC = 0.8983686086655971
____________________________________________________________________________
NN Model with 2 hidden layers and 10 neurons each: Accuracy = 0.9167496514638518
NN Model with 2 hidden layers and 10 neurons each: AUC = 0.8957788651615598
____________________________________________________________________________
NN Model with 2 hidden layers and 20 neurons each: Accuracy = 0.9187412865962955
NN Model with 2 hidden layers and 20 neurons each: AUC = 0.896072065452911
____________________________________________________________________________
NN Model with 1 hidden layer and 30 neurons: Accuracy = 0.9112394609307575
NN Model with 1 hidden layer and 30 neurons: AUC = 0.8963076501707495
____________________________________________________________________________
NN Model with 3 hidden layers and 30 neurons each: Accuracy = 0.9223262298346943
NN Model with 3 hidden layers and 30 neurons each: AUC = 0.89564118955471

In [ ]:
# Best performing neural network model
dfnntest = mlp6_model.transform(testing_df)
print("Neural Network Model with 3 hidden layers and 30 neurons each: Accuracy = {}".format(evaluator.evaluate(dfnntest)))
print("Neural Network Model with 3 hidden layers and 30 neurons each: AUC = {}".format(evaluatorauc.evaluate(dfnntest)))

Neural Network Model with 3 hidden layers and 30 neurons each: Accuracy = 0.9188694591297275
Neural Network Model with 3 hidden layers and 30 neurons each: AUC = 0.8915997296748777

In [ ]:
nn_true = dfnntest.select(['label']).collect()
nn_pred = dfnntest.select(['prediction']).collect()
print(classification_report(nn_true, nn_pred))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96      4535
           1       0.38      0.07      0.11       383

    accuracy                           0.92      4918
   macro avg       0.65      0.53      0.53      4918
weighted avg       0.88      0.92      0.89      4918